<app-header></app-header>
<section class="cont-login">
    <div class="cont-form-login">
        <form class="form-login">
            <h2>¡Bienvenido!</h2>
            <h2>Inicia sesión</h2>
            <div class="cont-inputs-login">
                <input class="input-login" id="user-email" type="email" placeholder="Correo electrónico" />
                <input class="input-login" id="user-password" type="password" placeholder="Contraseña" />
                <a class="links-redirect" routerLink="/list" routerLinkActive="active" >¿Olvidaste tu contraseña?</a>
            </div>
            <button type="button" class="btn-access btn-general">Acceder</button>
            <p class="message-error">MENSAJE DE ERROR</p>
            <div class="separator">
                <hr class="hr" />O<hr class="hr" />
            </div>
            <button type="button" class="btn-google btn-general">
                <img class="google-icon" src="./assets/images/google.png" alt="icono de google"/>
                Continuar con Google
            </button>
            <div class="links-redirect">
                ¿No tienes una cuenta?
                <a class="links-redirect" routerLink="/list" routerLinkActive="active">Regístrate ahora</a>
            </div>
        </form>
    </div>
</section>