/* font-family: 'Roboto', sans-serif;
font-family: 'Nunito Sans', sans-serif; */

screen-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 75px;
  }
  
  .hidden {
    display: none;
  }
  .hidden-btn {
    display: none;
  }
  
  .cont-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
  }
  
  .cont-inputs-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    row-gap: 10px;
  }
  
  .input-login, .input-register {
    width: 350px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #EEE9E9;
    margin: auto;
    padding: 0 20px;
    font-weight: 700;
  }
  
  #message-error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 60px;
    width: 85%;
    font-size: 17px ;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 10px;
  }
  
  .background-message-error{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }
  
  .hr {
    width: 150px;
    height: 1px;
    margin: 20px;
  }
  
  .google-icon {
    height: 100%;
  }

  .btn-general {
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
  }
  
  .btn-google {
    display: flex;
    width: 350px;
    background: #EEE9E9;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .links-redirect {
    color: #FFFFFF;
    font-weight: 300px;
  }