/* font-family: 'Roboto', sans-serif;
font-family: 'Nunito Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:#006600;
  font-family: 'Roboto', sans-serif;
  padding-top: 6.1rem;
}

.cont-form-login{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 75%;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0.625rem;
  row-gap: 10rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FORM LOGIN <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.form-login {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}

.cont-inputs-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 13rem;
  row-gap: 0.8rem;
}

.input-login {
  width:21.875rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  border: 0.5px solid #564E4E80;
  background-color: #F5F5F6;
  margin: auto;
  padding: 0 1.25rem;
  font-weight: 700;
  font-size: 1rem;
}

/* .links-redirect {
  font-weight: 300px;
} */

.btn-general {
  font-weight: 700;
  font-size: 1.25rem;
  color: #FFF;
  background: #006600;
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  border: none;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr {
  width: 9.375rem;
  height: 1px;
  margin: 1.25rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> BTN GOOGLE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.btn-google {
  display: flex;
  width:21.875rem; 
  align-items: center;
  justify-content: space-evenly;
}

.google-icon {
  height: 66%;
}