<app-header></app-header>
<section class="cont-register">
    <div class="cont-form-register">
        <form class="form-register">
            <h2>¡Bienvenido!</h2>
            <h2>Regístrate</h2>
            <div class="cont-inputs-register">
                <input #userEmail class="input-register" type="email" placeholder="Correo electrónico" (change)="validateEmail($event)" />
                <input #userName class="input-register" type="text" placeholder="Nombre completo" />
                <input #userPassword class="input-register" type="password" placeholder="Contraseña" />
                <a class="links-redirect" routerLink="/list" routerLinkActive="active" >¿Olvidaste tu contraseña?</a>
            </div>
            <button type="button" class="btn-register btn-general" (click)="registerWithEmailAndPassword()">Registrar</button>
            <p #messageError class="message-error"></p>
            <div class="separator">
                <hr class="hr" />O<hr class="hr" />
            </div>
            <button type="button" class="btn-google btn-general">
                <img class="google-icon" src="./assets/images/google.png" alt="icono de google"/>
                Continuar con Google
            </button>
            <div class="links-redirect">
                ¿Ya tienes una cuenta?
                <a class="links-redirect" routerLink="/login" routerLinkActive="active">Inicia sesión ahora</a>
            </div>
        </form>
    </div>
</section>
